body{
    margin: 0;

    font-family: 'HelveticaNeueCyr';
    font-size: 15px;
    font-weight: 400;
    color: #000000;

    background-color: #fff;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}

a {
    text-decoration: none;
}


/* Container */
.container{
    width: 100%;
    max-width: 1021px;
    margin: 0 auto;
}


/* Contacts */
.contacts{
    background-color: #f0f2f4;

    border-bottom: 1px solid #e2e2e2;
}

.contacts__content{
    display: flex;
    justify-content: flex-end;
}

.contacts__tel{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 43px;

    border-right: 1px solid #e2e2e2;
}

.contacts__num{
    padding-left: 11px;
    padding-right: 19px;
    

    font-family: 'HelveticaNeueCyr';
    font-size: 15px;
    font-weight: 400;
    color: #424242;
}

.contacts__mail{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 12px 0 19px;
}

.contacts__email{
    margin-left: 8px;

    font-family: 'HelveticaNeueCyr';
    font-size: 15px;
    font-weight: 400;
    color: #424242;
}

.contacts__facebook{
    margin: auto 0;
    
    padding: 5px 9px;

    width: 26px;
    height: 26px;
    background-color: #1287bf;
    border-radius: 2px;
}



/* Header */
.header{
    width: 100%;
    height: 130px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.header__logo{
    display: flex;
}

.header__name{
    margin-left: 10px;
}

.header__text{
    font-size: 37px;
    font-weight: 700;
    color: #424242;
}

.header__suptext{
    font-size: 15px;
    font-weight: 400;
    color: #424242;
}



/* Nav */
.nav{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 30px 0 192px;
}

.nav__link{
    font-size: 15px;
    font-weight: 700;
    color: #424242;

    transition: opacity 0.2s linear;
}

.nav__link:hover{
    color: #de2b24;
}

.nav__point{
    display: inline-block;
    margin: 0 16px;
    width: 5px;
    height: 5px;
    background-color: #424242;
    border-radius: 50%;
}



/* Button */
.btn{
    display: inline-block;
    border: 0;
    
    padding: 12px 23px;
    background-color: #de2b24;
    border-radius: 4px;

    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;

    transition: background-color 0.2s linear;
}

.btn--yellow{
    padding: 25px 41px;
    background-color: #f8cd53;
    border-radius: 8px;

    font-size: 23px;
}

.btn:hover{
    background-color: #424242;
}



/* Intro */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url(/img/bg-intro.png) center no-repeat;
    background-size: cover;
    height: 590px;
}

.intro__inner{
    width: 100%;
    min-width: 495px;

    margin: 0 auto;
    text-align: center;
}

.intro__title{
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
}

.intro__suptitle{
    margin-bottom: 32px;

    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
}